In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('transformed.csv')
df.head()

,Country,Year,Word_Population,Exports_USD,GDP_USD,High_Tech_Exports_USD,Imports_USD,Industry_Value_Added_USD,Labor_Force,Military_Exp_USD,Population_Total,Researchers_per_Million,Unemployment_Rate
0,Argentina,1999,6067758458,2.786230e+10,2.835230e+11,NaN,3.276270e+10,7.426497e+10,16410324,3.461731e+09,36653031,713.571045,14.05
1,Argentina,1999,6067758459,3.122369e+10,2.842038e+11,NaN,3.307015e+10,7.386693e+10,16588444,3.266633e+09,37070774,716.688354,15.00
2,Argentina,1999,6067758460,3.111242e+10,2.686968e+11,NaN,2.760388e+10,6.782829e+10,16651214,3.183592e+09,37480493,688.242737,17.32
3,Argentina,1999,6067758461,2.773661e+10,9.772400e+10,NaN,1.306582e+10,2.986224e+10,16491672,1.114172e+09,37885028,692.160828,19.59
4,Argentina,1999,6067758462,3.308451e+10,1.275870e+11,NaN,1.877290e+10,4.165089e+10,16951795,1.374874e+09,38278164,718.546326,15.36

In [14]:
# Check for duplicates
df.duplicated().sum()

0

In [15]:

# Check for missing values
df.isnull().sum()

Country                       0
Year                          0
Word_Population               0
Exports_USD                  19
GDP_USD                       0
High_Tech_Exports_USD       178
Imports_USD                  19
Industry_Value_Added_USD      7
Labor_Force                   0
Military_Exp_USD             26
Population_Total              0
Researchers_per_Million     146
Unemployment_Rate            67
dtype: int64

In [16]:
# Check for data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   450 non-null    object
 1   Year                      450 non-null    int64
 2   Word_Population           450 non-null    int64
 3   Exports_USD               431 non-null    float64
 4   GDP_USD                   450 non-null    float64
 5   High_Tech_Exports_USD     272 non-null    float64
 6   Imports_USD               431 non-null    float64
 7   Industry_Value_Added_USD  443 non-null    float64
 8   Labor_Force               450 non-null    int64
 9   Military_Exp_USD          424 non-null    float64
 10  Population_Total          450 non-null    int64
 11  Researchers_per_Million   304 non-null    float64
 12  Unemployment_Rate         383 non-null    float64
dtypes: float64(8), int64(4), object(1)
memory usage: 45.8+ KB

In [17]:
# filling missing values with interpolation
columns_to_fill = [
                    'Exports_USD', 'High_Tech_Exports_USD', 'Imports_USD', 
                    'Industry_Value_Added_USD', 'Military_Exp_USD', 
                    'Researchers_per_Million', 'Unemployment_Rate'
                    ]
# Exports_USD
# High_Tech_Exports_USD
# Imports_USD
# Industry_Value_Added_USD
# Military_Exp_USD
# Researchers_per_Million
# Unemployment_Rate


df[columns_to_fill] = df[columns_to_fill].interpolate()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   450 non-null    object
 1   Year                      450 non-null    int64
 2   Word_Population           450 non-null    int64
 3   Exports_USD               450 non-null    float64
 4   GDP_USD                   450 non-null    float64
 5   High_Tech_Exports_USD     442 non-null    float64
 6   Imports_USD               450 non-null    float64
 7   Industry_Value_Added_USD  450 non-null    float64
 8   Labor_Force               450 non-null    int64
 9   Military_Exp_USD          450 non-null    float64
 10  Population_Total          450 non-null    int64
 11  Researchers_per_Million   450 non-null    float64
 12  Unemployment_Rate         450 non-null    float64
dtypes: float64(8), int64(4), object(1)
memory usage: 45.8+ KB

In [27]:
# filling missing values with mean
df.Exports_USD = df.Exports_USD.fillna(df.Exports_USD.mean())
df.High_Tech_Exports_USD = df.High_Tech_Exports_USD.fillna(df.High_Tech_Exports_USD.mean())

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      450 non-null    object
 1   Year                         450 non-null    int64
 2   Word_Population              450 non-null    int64
 3   Exports_USD                  450 non-null    float64
 4   GDP_USD                      450 non-null    float64
 5   High_Tech_Exports_USD        450 non-null    float64
 6   Imports_USD                  450 non-null    float64
 7   Industry_Value_Added_USD     450 non-null    float64
 8   Labor_Force                  450 non-null    int64
 9   Military_Exp_USD             450 non-null    float64
 10  Population                   450 non-null    int64
 11  Researchers_per_Million      450 non-null    float64
 12  Unemployment_Rate            450 non-null    float64
 13  Trade_Balance_USD            450 non-null    float64
 14  GDP_per_Capita_USD           450 non-null    float64
 15  Trade_GDP_Ratio              450 non-null    float64
 16  Number_of_Unemployed         450 non-null    float64
 17  Unemployment_Rate_Worldwide  450 non-null    float64
dtypes: float64(13), int64(4), object(1)
memory usage: 63.4+ KB

In [29]:
# renaming columns population_total to population
df.Population_Total = df.rename(columns={'Population_Total': 'Population'}, inplace=True)

In [30]:
df.head()

,Country,Year,Word_Population,Exports_USD,GDP_USD,High_Tech_Exports_USD,Imports_USD,Industry_Value_Added_USD,Labor_Force,Military_Exp_USD,Population,Researchers_per_Million,Unemployment_Rate,Trade_Balance_USD,GDP_per_Capita_USD,Trade_GDP_Ratio,Number_of_Unemployed,Unemployment_Rate_Worldwide
0,Argentina,1999,6067758458,2.786230e+10,2.835230e+11,7.709377e+10,3.276270e+10,7.426497e+10,16410324,3.461731e+09,36653031,713.571045,14.05,-4.900400e+09,7735.322080,85.042747,5149751.0,2.315517e-07
1,Argentina,1999,6067758459,3.122369e+10,2.842038e+11,7.709377e+10,3.307015e+10,7.386693e+10,16588444,3.266633e+09,37070774,716.688354,15.00,-1.846456e+09,7666.517834,94.416548,5560616.0,2.472083e-07
2,Argentina,1999,6067758460,3.111242e+10,2.686968e+11,7.709377e+10,2.760388e+10,6.782829e+10,16651214,3.183592e+09,37480493,688.242737,17.32,3.508537e+09,7168.975872,112.710301,6491621.0,2.854431e-07
3,Argentina,1999,6067758461,2.773661e+10,9.772400e+10,7.709377e+10,1.306582e+10,2.986224e+10,16491672,1.114172e+09,37885028,692.160828,19.59,1.467079e+10,2579.488769,212.283670,7421677.0,3.228540e-07
4,Argentina,1999,6067758462,3.308451e+10,1.275870e+11,7.709377e+10,1.877290e+10,4.165089e+10,16951795,1.374874e+09,38278164,718.546326,15.36,1.431161e+10,3333.152904,176.235466,5879526.0,2.531413e-07

In [47]:
df.drop(columns=['Word_Population'], inplace=True)

In [56]:
# feature engineering

# Trade Balance
df['Trade_Balance_USD'] = df['Exports_USD'] - df['Imports_USD']

# GDP per Capita
df['GDP_per_Capita_USD'] = round(df['GDP_USD'] / df['Population'], 2)

#Trade GDP Rate 
df['Trade_GDP_Ratio'] = round((df['Exports_USD'] / df['Imports_USD']) * 100, 2)

# Number of Unemployed 
df['Number_of_Unemployed'] = round((df['Unemployment_Rate'] / 100) * df['Population'])

# round off the values of the columns to 2 decimal places
df.Unemployment_Rate = round(df.Unemployment_Rate, 2)

In [57]:
# changing data types   
df.Number_of_Unemployed = df.Number_of_Unemployed.astype(int)

In [58]:
df.head(10)

,Country,Year,Exports_USD,GDP_USD,High_Tech_Exports_USD,Imports_USD,Industry_Value_Added_USD,Labor_Force,Military_Exp_USD,Population,Researchers_per_Million,Unemployment_Rate,Trade_Balance_USD,GDP_per_Capita_USD,Trade_GDP_Ratio,Number_of_Unemployed
0,Argentina,1999,2.786230e+10,2.835230e+11,7.709377e+10,3.276270e+10,7.426497e+10,16410324,3.461731e+09,36653031,713.571045,14.05,-4.900400e+09,7735.32,85.04,5149751
1,Argentina,1999,3.122369e+10,2.842038e+11,7.709377e+10,3.307015e+10,7.386693e+10,16588444,3.266633e+09,37070774,716.688354,15.00,-1.846456e+09,7666.52,94.42,5560616
2,Argentina,1999,3.111242e+10,2.686968e+11,7.709377e+10,2.760388e+10,6.782829e+10,16651214,3.183592e+09,37480493,688.242737,17.32,3.508537e+09,7168.98,112.71,6491621
3,Argentina,1999,2.773661e+10,9.772400e+10,7.709377e+10,1.306582e+10,2.986224e+10,16491672,1.114172e+09,37885028,692.160828,19.59,1.467079e+10,2579.49,212.28,7421677
4,Argentina,1999,3.308451e+10,1.275870e+11,7.709377e+10,1.877290e+10,4.165089e+10,16951795,1.374874e+09,38278164,718.546326,15.36,1.431161e+10,3333.15,176.24,5879526
5,Argentina,1999,3.926700e+10,1.646579e+11,7.709377e+10,2.773667e+10,4.744935e+10,17425150,1.465809e+09,38668796,766.083252,13.52,1.153032e+10,4258.16,141.57,5228795
6,Argentina,1999,4.619818e+10,1.987371e+11,7.709377e+10,3.439224e+10,5.689110e+10,17545905,1.699579e+09,39070501,819.905701,11.51,1.180594e+10,5086.63,134.33,4495452
7,Argentina,1999,5.355025e+10,2.325573e+11,7.709377e+10,4.048074e+10,6.791435e+10,17877291,1.847553e+09,39476851,892.213379,10.08,1.306951e+10,5890.98,132.29,3978477
8,Argentina,1999,6.516232e+10,2.875305e+11,1.202087e+09,5.256754e+10,7.882717e+10,17924078,2.296448e+09,39876111,974.809265,8.47,1.259479e+10,7210.60,123.96,3377507
9,Argentina,1999,7.976296e+10,3.615580e+11,2.014771e+09,6.631615e+10,9.499019e+10,17966575,2.788980e+09,40273769,1036.219116,7.84,1.344680e+10,8977.51,120.28,3156255

In [59]:
df.shape

(450, 16)

In [62]:
df.columns

Index(['Country', 'Year', 'Exports_USD', 'GDP_USD', 'High_Tech_Exports_USD',
       'Imports_USD', 'Industry_Value_Added_USD', 'Labor_Force',
       'Military_Exp_USD', 'Population', 'Researchers_per_Million',
       'Unemployment_Rate', 'Trade_Balance_USD', 'GDP_per_Capita_USD',
       'Trade_GDP_Ratio', 'Number_of_Unemployed'],
      dtype='object')

In [65]:
# saving the cleaned data
df.to_csv('cleaned.csv', index=False)

In [ ]:
# ready for modeling    # 1. Data Cleaning and Preprocessing