In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('transformed.csv')
df.head()

       Country Country_Code  Year       GDP_USD  Population
0  Afghanistan          AFG  1999           NaN  19262847.0
1  Afghanistan          AFG  2000  3.521418e+09  19542982.0
2  Afghanistan          AFG  2001  2.813572e+09  19688632.0
3  Afghanistan          AFG  2002  3.825701e+09  21000256.0
4  Afghanistan          AFG  2003  4.520947e+09  22645130.0

In [24]:
# Check for duplicates
df.duplicated().sum()

np.int64(0)

In [25]:

# Check for missing values
df.isnull().sum()

Country           0
Country_Code      0
Year              0
GDP_USD         162
Population        0
dtype: int64

In [26]:
# Check for data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       5200 non-null   object
 1   Country_Code  5200 non-null   object
 2   Year          5200 non-null   int64
 3   GDP_USD       5038 non-null   float64
 4   Population    5200 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 203.2+ KB

In [27]:
df.columns

Index(['Country', 'Country_Code', 'Year', 'GDP_USD', 'Population'], dtype='object')

In [28]:
# filling missing values with interpolation

df.GDP_USD = df.GDP_USD.interpolate()

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       5200 non-null   object
 1   Country_Code  5200 non-null   object
 2   Year          5200 non-null   int64
 3   GDP_USD       5199 non-null   float64
 4   Population    5200 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 203.2+ KB

In [30]:
# Fill missing values in 'Inflation' and 'LaborForce' using backward fill
df.GDP_USD = df.GDP_USD.fillna(method='bfill')

/tmp/ipykernel_25449/610498104.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.GDP_USD = df.GDP_USD.fillna(method='bfill')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       5200 non-null   object
 1   Country_Code  5200 non-null   object
 2   Year          5200 non-null   int64
 3   GDP_USD       5200 non-null   float64
 4   Population    5200 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 203.2+ KB

In [32]:
df.head()

       Country Country_Code  Year       GDP_USD  Population
0  Afghanistan          AFG  1999  3.521418e+09  19262847.0
1  Afghanistan          AFG  2000  3.521418e+09  19542982.0
2  Afghanistan          AFG  2001  2.813572e+09  19688632.0
3  Afghanistan          AFG  2002  3.825701e+09  21000256.0
4  Afghanistan          AFG  2003  4.520947e+09  22645130.0

In [33]:
# changing data types   
df.Population= df.Population.astype(int)

In [34]:
df.head(10)

       Country Country_Code  Year       GDP_USD  Population
0  Afghanistan          AFG  1999  3.521418e+09    19262847
1  Afghanistan          AFG  2000  3.521418e+09    19542982
2  Afghanistan          AFG  2001  2.813572e+09    19688632
3  Afghanistan          AFG  2002  3.825701e+09    21000256
4  Afghanistan          AFG  2003  4.520947e+09    22645130
5  Afghanistan          AFG  2004  5.224897e+09    23553551
6  Afghanistan          AFG  2005  6.203257e+09    24411191
7  Afghanistan          AFG  2006  6.971758e+09    25442944
8  Afghanistan          AFG  2007  9.747886e+09    25903301
9  Afghanistan          AFG  2008  1.010930e+10    26427199

In [35]:
df.shape

(5200, 5)

In [36]:
# Feature Engineering 

# create GDP per Capita feature
df['GDP_Per_Capita'] = round((df.GDP_USD / df.Population), 2)

In [37]:
df.head()

       Country Country_Code  Year       GDP_USD  Population  GDP_Per_Capita
0  Afghanistan          AFG  1999  3.521418e+09    19262847          182.81
1  Afghanistan          AFG  2000  3.521418e+09    19542982          180.19
2  Afghanistan          AFG  2001  2.813572e+09    19688632          142.90
3  Afghanistan          AFG  2002  3.825701e+09    21000256          182.17
4  Afghanistan          AFG  2003  4.520947e+09    22645130          199.64

In [38]:
# drop Country and GPD_US columns
df = df.drop(['GDP_USD'], axis=1)
df.head()

       Country Country_Code  Year  Population  GDP_Per_Capita
0  Afghanistan          AFG  1999    19262847          182.81
1  Afghanistan          AFG  2000    19542982          180.19
2  Afghanistan          AFG  2001    19688632          142.90
3  Afghanistan          AFG  2002    21000256          182.17
4  Afghanistan          AFG  2003    22645130          199.64

In [39]:
# saving the cleaned data
df.to_csv('cleaned.csv', index=False)

In [40]:
# ready for modeling    # 1. Data Cleaning and Preprocessing